.footer_main_body {
  width: 100%;
  /* background-color: rgb(248, 248, 248); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer_container {
  padding: 120px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.footer_container_img {
  height: auto;
  width: 200px;
}
.footer_container_img > img {
  object-fit: cover;
  height: auto;
  width: 100%;
  display: block;
}
.footer_container > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_container > ul > li {
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.5px;
}
.footer_container_btn {
  background-color: #ffd801;
  text-decoration: none;

  color: black;
  font-weight: 800;
  width: 105px;
  font-size: 14px;
  border-radius: 50px;
  padding: 20px 40px;
}
.footer_container_bottom_border {
  background-color: rgb(211, 211, 211);
  height: 2px;
  width: 100%;
  font-size: 16px;
  line-height: 36px;
  color: rgb(146, 146, 146);
}
.footer__bottom_container {
  width: 100%;
  padding: 26px 0;
  display: flex;
  color: rgb(83 83 83);
  letter-spacing: 1px;
  justify-content: space-between;
}
.footer__bottom_container > h4 {
  font-weight: 100;
}
.footer__bottom_container > ul {
  list-style: none;
  display: flex;
}

.footer__bottom_container > ul > li:nth-child(1) {
  border: 0;
}
.footer__bottom_container > ul > li {
  padding: 0 30px;
  border-left: 1px solid rgb(184, 184, 184);
}
/* ///////// */

@media screen and (max-width: 1440px) {
  .footer_container_img {
    height: auto;
    width: 160px;
  }
}
@media screen and (max-width: 1366px) {
  .footer_container_img {
    height: auto;
    width: 150px;
  }
  .footer_container > ul {
    gap: 5px;
  }
  .footer_container {
    padding: 100px 0;
  }

  .footer__bottom_container > ul > li {
    padding: 0 27px;
  }
}
